p{color: red;}



who{ what: how;}

h1{color: rebeccapurple;}
ol{color: chartreuse;}
ul{color: cyan;}
.list{color:darkcyan;}
.border{border:double;}
.border{border-color: coral;}
.border{border-radius: 360cm;}
h1{-ms-writing-mode: inherit;}
#header{color: crimson
    text-align: center;
}

    
    